<div class="split">
  <div class="left">
    <div class="center">
      <%= link_to raw("<h2> Pracownik </h2>"), worker_path, class: "link" %>
    </div>
  </div>
  <div class="right">
    <div class="center">
      <%= link_to raw("<h2> Klient </h2>"), client_path, class: "link" %>
    </div>
  </div>
</div>