<div class="container">
<div class="actions">
  <%= link_to "Wykonaj rezerwację", root_path, class: "action-link" %>
  <%= link_to "Historia rezerwacji", root_path, class: "action-link" %>
  <%= link_to "Panel admina", root_path, class: "action-link" %>
</div>
</div>
